.card {
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: fit-content;
  height: fit-content;
  max-width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  height: 300px;
  width: 300px;
  position: relative;
  left: 0;
  top: 0;
  margin: auto;
  object-fit: contain;
}
